.userItem {
  /* width: 100%; */
  min-width: 343px;
  width: 343px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.userItem__middleBlock {
  display: flex;
}

.userItem__avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  background-color: #8a8a8f;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
}

.userItem__block {
  margin-left: 15px;
}

.userItem__blockName {
  /* Body 1 / Regular */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.15px;

  /* White */

  color: #ffffff;
}

.userItem__blockUsername {
  /* Body 2/Regular */

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  /* White */

  color: #ffffff;

  opacity: 0.5;
}

.userItem__button {
  /* width: 100%; */
}
